{% extends "base.html" %}

{% block content %}
<h1>Board</h1>

<!-- user list  -->
{% if request.user.is_staff %}
<a href="{% url 'users_list' %}">Users</a>
{% endif %}



<!-- logout button-->

<form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>



<!-- create new card button -->

<p><a href="{% url 'card_create' %}">Create new card</a></p>

<!-- "task for me" -->

<form method="get" style="margin-bottom: 12px;">
    <label>
        <input type="checkbox" name="mine" value="1" {% if mine %}checked{% endif %} onchange="this.form.submit()">
        Show only my cards
    </label>
</form>

<!-- body page -->

<div style="display: flex; gap: 16px; align-items: flex-start;">
    {% for col in columns %}
    <div style="width: 220px; border: 1px solid #ddd; padding: 10px;">
        <h3>{{ col.label }}</h3>

        {% if col.cards %}
        <ul style="padding-left: 16px;">
            {% for card in col.cards %}
            <li>
                <a href="{% url 'card_detail' card.pk %}">
                    {{ card.name }}
                </a>
                <div style="font-size: 12px; opacity: 0.7;">
                    Priority: {{ card.priority }}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p style="opacity: 0.6;">No cards</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}