{% extends "base.html" %}

{% block content %}
<p><a href="{% url 'board' %}"> ← Back to board </a></p>

<h1>{{ card.name }}</h1>

<p>
    <a href="{% url 'card_edit' card.pk %}">Edit</a> |
    <a href="{% url 'board' %}">Back</a>
</p>

<ul>
    <li>Status: {{ card.get_status_display }}</li>
    <li>Priority: {{ card.get_priority_display }}</li>
    <li>Assignee: {{ card.assignee|default:"—" }}</li>
    <li>Reporter: {{ card.reporter }}</li>
    <li>Created: {{ card.created_at }}</li>
    <li>Updated: {{ card.updated_at }}</li>
</ul>

<!-- Description block -->

<h3>Description</h3>
<p>{{ card.description|linebreaksbr|default:"No description" }}</p>

<!-- Attachents block -->

<h3>Attachments</h3>

{% if attachments %}
<ul>
    {% for a in attachments %}
    <li>
        <a href="{{ a.file.url }}" target="_blank">{{ a.file.name }}</a>
        — <small>{{ a.uploaded_by }} ({{ a.uploaded_at }})</small>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No attachments yet.</p>
{% endif %}

<!-- Upload files block -->

<h4>Upload file</h4>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ attachment_form.as_p }}
    <button type="submit" name="add_attachment">Upload</button>
</form>


<!-- Comments block -->

<h3>Comments</h3>

{% if comments %}
<ul>
    {% for c in comments %}
    <li>
        <b>{{ c.created_by }}</b>
        <small>({{ c.created_at }})</small><br>
        {{ c.text|linebreaksbr }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No comments yet.</p>
{% endif %}

<!-- Add comments block -->

<h4>Add comment</h4>
<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" name="add_comment">Add</button>
</form>

{% endblock %}